.Layout {
	height: 100%;
    box-sizing: border-box;
    display: grid;
    
    grid-template-rows:  10% 85% 5%;
    
}

header, footer{
    grid-column: span 1;
}

main{
    overflow: auto;
    
}

